@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Global styles */
html {
    font-family: Arial, sans-serif;
    /* Set Arial as the global font */
}

.collapse-menu {
    transition: max-height 0.6s ease-in-out, padding 0.6s ease-in-out;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}

.table-container {
    overflow-x: scroll;
    /* Enable horizontal scroll */
    overflow-y: visible;
    /* Keep vertical overflow visible */
    white-space: nowrap;
    /* Ensures horizontal scrolling works as expected */
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    scrollbar-width: none;
    /* For Firefox */
}

/* Hide number input spinner in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Make the range inputs interactive */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    width: 100%;
    height: 5px;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto; /* Allow interaction */
}

/* Thumb (circle) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #014C93;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    border: 2px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    position: relative;
}
